@font-face{font-family:'Cabin Sketch';font-weight:700;font-display:swap;src:url(CabinSketch-700.woff2) format('woff2')}
@font-face{font-family:'Nunito';font-weight:600;font-display:swap;src:url(Nunito-600.woff2) format('woff2')}
@font-face{font-family:'Nunito';font-weight:800;font-display:swap;src:url(Nunito-800.woff2) format('woff2')}
@font-face{font-family:'Russo One';font-weight:400;font-display:swap;src:url(RussoOne-400.woff2) format('woff2')}@font-face{font-family:'Kalam';font-weight:700;font-display:swap;src:url(Kalam-700.woff2) format('woff2')}
